.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Glowing Cursor */
.custom-cursor {
  position: fixed;
  width: 1000px; 
  height: 1000px;
  border-radius: 50%;
  background: radial-gradient(circle, 
    rgba(0, 149, 255, 0.082) 0%,   
    rgba(0, 149, 255, 0) 50%,   
    rgba(0, 149, 255, 0) 100%     
  );
  pointer-events: none;
  z-index: 99999;
  transition: transform 0.15s ease;
  mix-blend-mode: screen;
  transform: translate(-50%, -50%);
}


.custom-cursor.light-glow {
  background: radial-gradient(circle, 
    rgba(0, 149, 255, 0.082) 0%,   
    rgba(0, 149, 255, 0) 50%,   
    rgba(0, 149, 255, 0) 100%     
  );
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
